# Abaikan file environment
.env

# Abaikan file kredensial Google
credentials.json
client_secret.json

# Abaikan folder cache python
__pycache__/
*.pyc

# Abaikan folder virtual environment (jika pakai)
venv/
env/

*.csv